<section id="questions" class="p-5">
    <div class="container">
        <h2 class="text-center mb-4">FAQs</h2>
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    Q: What drives your passion for software development?
                </button>
              </h2>
              <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">A: Software development is a fascinating world where creativity meets problem-solving. I have always been drawn to the challenge of creating something functional and beautiful from lines of code. The ability to bring ideas to life and make a tangible impact through technology is what fuels my passion for software development.</div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    Q: How do you balance your love for learning with your professional commitments?
                </button>
              </h2>
              <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">A: Learning is a lifelong journey that I actively pursue alongside my professional commitments. I believe that continuous learning is essential to stay ahead in the fast-paced tech industry. I manage my time effectively by dedicating specific blocks to self-improvement, exploring new technologies, and participating in online courses and workshops. This balance ensures that I am consistently expanding my skillset while fulfilling my responsibilities as a software engineer.</div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                    Q: Can you tell us more about your dedication to physical fitness?
                </button>
              </h2>
              <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">A: Physical fitness is a vital aspect of my life as a software engineer. Regular exercise helps me maintain focus, boosts my energy levels, and promotes overall well-being. I prioritize my health by engaging in workouts at least twice a week, combining activities such as strength training and cardiovascular exercises. This commitment not only enhances my physical health but also contributes to my mental clarity and productivity in my professional endeavors.</div>
              </div>
            </div>
          </div>
    </div>
</section>

