.icon-span {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: transparent;
    background-image: url('../../assets/images/faceicon.png');
    background-size: cover;
  }

  .icon-span {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url('../../assets/images/faceicon.png');
    background-size: cover;
  }