<section class="bg-dark text-light p-5 p-lg-0 pt-5 text-center text-sm-start">
    <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between">
            <div>
                <h1 class="mt-5 mr-5">Hi! This is <span class="text-warning">Srighan Vedere!!</span></h1>
                <p class="lead my-4">Unleashing the power of code to shape digital experiences. I'm a software magician who turns ideas into reality.
                     With a curious mind and a passion for innovation, 
                     I craft elegant solutions that transcend expectations.
                      Let's embark on a journey to create exceptional software together.
                </p>
                <button class="btn btn-primary btn-lg">
                    Contact Me!
                </button>
            </div>                           
                <img class="img-fluid w-10" src="../assets/images/Image.png" alt="">         
        </div>        
    </div>
</section>
