<section class="bg-primary text-light p-5">
    <div class="container">
        <div class="d-md-flex align-items-center justify-content-between">
            <h3 class="mb-3 mb-md-0 fs-5 text">
                Be one of the first in line to witness software wizardry. Join the waitlist now!
            </h3>
            <div class="input-group news-input">
                <input type="text" class="form-control" placeholder="Enter Email!" aria-label="Recipient's username" aria-describedby="basic-addon2">
                <div class="input-group-append">
                  <button class="btn btn-dark btn-lg" type="button">Join Now!</button>
                </div>
              </div>
        </div>
    </div>
</section>
