<section class="p-5">
    <div class="container">
        <div class="row text-center g-4">
            <div class="col-md">
                <div class="card bg-dark text-light">
                    <div class="card-body text-center">
                        <div class="h1">
                            <i class="bi bi-alarm"></i>
                        </div>         
                        <h3 class="card-title mb-3">
                            Coming Soon!!
                        </h3>    
                        <p class="card-text">
                            <!-- Master the art of elegant tooltip styling with our exclusive newsletter. 
                            Discover expert techniques to enhance user interactions through sleek and professional tooltips. 
                            Elevate your design prowess and create visually polished interfaces that seamlessly guide and inform users. 
                            Join our newsletter today and stay at the forefront of cutting-edge UX design. -->
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam pariatur alias,
                             quidem, modi rem rerum ratione laboriosam perferendis assumenda explicabo, necessitatibus sed.
                              Iure eligendi quasi mollitia ex cumque ducimus perferendis.
                        </p>  
                        <a href="" class="btn btn-primary">Join Now!</a>          
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="card bg-secondary text-light">
                    <div class="card-body text-center">
                        <div class="h1">
                            <i class="bi bi-alarm"></i>
                        </div>         
                        <h3 class="card-title mb-3">
                            Coming Soon!!
                        </h3>    
                        <p class="card-text">
                            <!-- Master the art of elegant tooltip styling with our exclusive newsletter. 
                            Discover expert techniques to enhance user interactions through sleek and professional tooltips. 
                            Elevate your design prowess and create visually polished interfaces that seamlessly guide and inform users. 
                            Join our newsletter today and stay at the forefront of cutting-edge UX design. -->
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam pariatur alias,
                             quidem, modi rem rerum ratione laboriosam perferendis assumenda explicabo, necessitatibus sed.
                              Iure eligendi quasi mollitia ex cumque ducimus perferendis.
                        </p>  
                        <a href="" class="btn btn-dark">Join Now!</a>          
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="card bg-dark text-light">
                    <div class="card-body text-center">
                        <div class="h1">
                            <i class="bi bi-alarm"></i>
                        </div>         
                        <h3 class="card-title mb-3">
                            Coming Soon!!
                        </h3>    
                        <p class="card-text">
                            <!-- Master the art of elegant tooltip styling with our exclusive newsletter. 
                            Discover expert techniques to enhance user interactions through sleek and professional tooltips. 
                            Elevate your design prowess and create visually polished interfaces that seamlessly guide and inform users. 
                            Join our newsletter today and stay at the forefront of cutting-edge UX design. -->
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam pariatur alias,
                             quidem, modi rem rerum ratione laboriosam perferendis assumenda explicabo, necessitatibus sed.
                              Iure eligendi quasi mollitia ex cumque ducimus perferendis.
                        </p>  
                        <a href="" class="btn btn-primary">Join Now!</a>          
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
