<section id="#About" class="p-5">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-md">
                <img src="../assets/images/about.png" class="h-150" alt="">
            </div>
            <div class="col-md p-5 text-justify-inter-word">
                <h2>About Me!</h2>
                <p class="lead">
                    In a realm where algorithms and code converge, meet a remarkable software engineer whose passions stretch 
                    far beyond the digital domain. With a deft touch on the keyboard and a heart full of curiosity, 
                    he navigates the labyrinth of programming languages and data structures. But beyond the lines of code 
                    lies a captivating story that unfolds like a well-written script.
                </p>
                <p>
                    Amidst the glowing screens and lines of syntax, you'll find him cherishing moments with his faithful 
                    companions: a lively Lab and a noble Rottie. In their presence, he discovers a profound connection that 
                    transcends words, finding solace in the unconditional love they offer. As he ventures into the vast expanse 
                    of the programming cosmos, their wagging tails and playful antics remind him of the simple joys in life.
                </p>
                <a href="#" class="btn btn-light mt-3">
                    <i class="bi bi-chevron-right"></i>
                    Read More!
                </a>
            </div>
        </div>
    </div>
</section>
