<section id="#About" class="p-5 bg-dark">
    <div class="container">
        <div class="row align-items-center justify-content-between">            
            <div class="col-md p-5">
                <h2 class="text-secondary">Me and My Tech Stack!</h2>
                <p class="text-white text-justify-inter-word">
                    Welcome to the world behind the screen, where my passion and expertise converge with cutting-edge technology.
                     In this digital realm, I navigate a diverse and dynamic tech stack that empowers me to create remarkable software 
                     solutions. From the elegance of front-end frameworks that breathe life into captivating user interfaces to the 
                     robustness of back-end technologies that drive seamless functionality, my tech stack is a carefully curated arsenal 
                     of tools. With each line of code, I embark on a journey of innovation, pushing the boundaries of what's possible 
                     and crafting digital experiences that leave a lasting impression. Join me as I unravel the intricate tapestry of
                      my tech stack and unlock the potential to shape the future.
                </p>
                <p class="text-white text-justify-inter-word"> 
                    In the realm of my tech stack, I thrive on the power of versatility and adaptability. 
                    At the heart of my creations, you'll find a harmonious blend of programming languages such as JavaScript, Python, 
                    and Java, each lending their unique strengths to different aspects of development. Front-end wizardry comes to 
                    life with the magic of HTML, CSS, and modern frameworks like React and Vue.js, enabling me to breathe soul into 
                    every pixel. On the server-side, the likes of Node.js and Django gracefully orchestrate data flow, while databases
                    such as MySQL and MongoDB provide the foundation for robust data management. With continuous learning and exploration,
                    my tech stack evolves alongside the ever-evolving technology landscape, allowing me to stay at the forefront of
                    innovation. Step into my world and witness the seamless fusion of creativity and technology as I craft solutions 
                    that make a difference.
                </p>
                <a href="#" class="btn btn-light mt-3">
                    <i class="bi bi-chevron-right"></i>
                    Read More!
                </a>
            </div>
            <div class="personal-info-right">
                <!-- <img class="blob-style" src="../../assets/userAsset/blob vector.png"> -->
                <img class="personal-info-skill" src="../../assets/stack/Bash.svg" alt="">
                <img class="personal-info-skill" src="../../assets/stack/Bootstrap.svg" alt="">
                <img class="personal-info-skill" src="../../assets/stack/ChartJs.svg" alt="">
                <img class="personal-info-skill" src="../../assets/stack/Docker.svg" alt="">
                <img class="personal-info-skill" src="../../assets/stack/Git.svg" alt="">
                <img class="personal-info-skill" src="../../assets/stack/Github.svg" alt="">
                <img class="personal-info-skill" src="../../assets/stack/Graphql.svg" alt="">
                <img class="personal-info-skill" src="../../assets/stack/Javascript.svg" alt="">
                <img class="personal-info-skill" src="../../assets/stack/K8s.svg" alt="">
                <img class="personal-info-skill" src="../../assets/stack/MaterialUI.svg" alt="">
                <img class="personal-info-skill" src="../../assets/stack/MongoDB.svg" alt="">
                <img class="personal-info-skill" src="../../assets/stack/Next.svg" alt="">
                <img class="personal-info-skill" src="../../assets/stack/NodeJs.svg" alt="">
                <img class="personal-info-skill" src="../../assets/stack/Redux.svg" alt="">
                <img class="personal-info-skill" src="../../assets/stack/Saas.svg" alt="">
                <img class="personal-info-skill" src="../../assets/stack/Typescript.svg" alt="">
                <img class="personal-info-skill" src="../../assets/stack/React.png" alt="">
                <img class="personal-info-skill" src="../../assets/stack/Vercel.svg" alt="">
                <img class="personal-info-skill" src="../../assets/stack/Bash.svg" alt="">
                <img class="personal-info-skill" src="../../assets/stack/Bootstrap.svg" alt="">
            </div>
        </div>
    </div>
</section>